/* style.css in guide-castle-goodroid */

:root {
  
}

* {
  position: relative;
}

/* header */

#header-fixed {
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 8;
}

.header-fixed-background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header-fixed-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}
.header-fixed-background::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: white;
}

.header-title {
  opacity: 0.0;
}

.header-scroll-background img {
  width: 100%;
  filter: blur(0.0);
}
.header-scroll-background::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.0;
  background-color: white;
}

/* main */

/* utility */

.none {
  display: none;
}

.hide {
  visibility: hidden;
}
