/* style.css in guide-castle-goodroid */

:root {
  
}

* {
  position: relative;
}

/* header */

header {
  position: fixed;
  z-index: 8;
  width: 100%;
  top: 0;
}

#header-background {
  position: absolute;
}
#header-background img {
  width: 100%;
  filter: blur(0);
}
#header-background::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.0;
  background-color: white;
}

#header-main {
  height: 32px;
}
.header-title {
  opacity: 0.0;
}

/* main */

main #main-header-space {
  opacity: 0.0;
}
main #main-header-space img {
  width: 100%;
}

/* utility */

.hide {
  display: none;
}

.visible {
  visibility: hidden;
}
