/* style.css in guide-castle-goodroid */

* {
  position: relative;
}

/* header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: url(var(--header-bg-url)) no-repeat center;
  background-size: cover;
}

/* utility */

.hide {
  display: none;
}

.visible {
  visibility: hidden;
}
